<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Download online</title>
</head>
<body>
    <p id="p1">downloading... </p><br>
    {{ file_id|json_script:"file-id" }}
<script>
        const fileID = JSON.parse(document.getElementById('file-id').textContent);

        const wss_protocol = (window.location.protocol == 'https:') ? 'wss://': 'ws://';
        const chatSocket = new WebSocket(
             wss_protocol + window.location.host + '/ws/download/'  + fileID + '/'
             );

        chatSocket.onopen = function(e) {
            document.getElementById('p1').innerHTML = 'downloading... : 0.00%';
         }

        chatSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            document.getElementById('p1').innerHTML = 'downloading... : ' + data.message;
         };

         // websocket连接断开时触发此方法
         chatSocket.onclose = function(e) {
             document.getElementById('p1').innerHTML = 'downloading... : completed';
         };
     </script>
</body>
</html>